<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNotificationServlet</servlet-name>
        <servlet-class>controller.InsertNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNotificationServlet</servlet-name>
        <servlet-class>controller.UpdateNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>controller.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPayment_schemaServlet</servlet-name>
        <servlet-class>controller.InsertPayment_schemaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePaymentSchema</servlet-name>
        <servlet-class>controller.UpdatePaymentSchemaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePaymentSchemaServlet</servlet-name>
        <servlet-class>controller.UpdatePaymentSchemaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSecurityServlet</servlet-name>
        <servlet-class>controller.InsertSecurityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNotificationServlet</servlet-name>
        <url-pattern>/InsertNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNotificationServlet</servlet-name>
        <url-pattern>/UpdateNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPayment_schemaServlet</servlet-name>
        <url-pattern>/InsertPayment_schemaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePaymentSchema</servlet-name>
        <url-pattern>/UpdatePaymentSchema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePaymentSchemaServlet</servlet-name>
        <url-pattern>/UpdatePaymentSchemaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSecurityServlet</servlet-name>
        <url-pattern>/InsertSecurityServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
